{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome to Gallery!</h2>
<p>Here you find images of various items. Use the link at the bottom to see the full listing </p>
<h3>Showcase</h3>
<table>
    <tr>
        {% for item in item_list %}
            <td>
                    <a href="{{ item.get_absolute_url }}"><b>{{ item.name }}</b><br>
                        {% if item.photo_set.count %}
                            <img src="{{ item.photo_set.all.0.image.thumb_url }}" />
                        {% else %}
                            <span>No Photos</span>
                        {% endif %}
                    </a>
            </td>
        {% endfor %}
    </tr>
</table>
<p><a href="{% url 'items_list' %}">View the full list &raquo;</a></p>
{% endblock %}

